.CartShowcase{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  height: 100%;
  padding-top:10px;
}

.CartShowcase  .loaderIcon{
  position:absolute;
    left: 46%;
    top: 500px;
}

@media only screen and (max-width: 650px) {
  .jumbo-inner-container > h1{
    font-size:25px;
  }

  #empty-cart-message h1{
    font-size:20px;
  }


}

@media only screen and (max-width: 650px) {

  .CartShowcase  .loaderIcon{
    position:absolute;
        left: 32%;
        top: 500px;
  }



}

  



.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(2px);
  
  }

  #empty-cart-message{
    width:100vw;
    height:100vh;
    margin: auto;
    margin-top:0px;
    display: flex;
    align-items: center;
    margin-top:-50px;
    justify-content: center;
  }


  @media only screen and (max-width: 991px) {
    .CartShowcase {
      width: 110%;
    }
  }