.App{
    height:200vh;
    font-family: "Quicksand", sans-serif;

}

#cartIcon{
    margin:10px;
    font-size: 2rem;
    color: #dadbeb;
}

#mainNav{
    list-style-type: none;
    
}





/* #mainNav > #mainTitle{
    cursor: p;
} */
