.form-container {
  border: 1px solid skyblue;
  padding: 50px;
  -webkit-box-shadow: -3px 3px 29px 0px rgba(56,56,56,0.66);
-moz-box-shadow: -3px 3px 29px 0px rgba(56,56,56,0.66);
box-shadow: -3px 3px 29px 0px rgba(56,56,56,0.66);


}

.root-form-container{
  height:100vh;
  padding-top:30px;
}
