#cartIcon{
    font-size: 2rem;
    color: white;
}
#cart-button{
    pointer-events: none;
    margin-left:2px
}
#search-bar{
    margin-right:10px
}
#login-logout-button{
  max-width: 100px;
}

#main-title{
    text-decoration: none;
    color:white;
}
#mainNav{
    list-style-type: none;
}

#cart-form{
    position: relative;
    right:10px;
    top:2px;
}

#button-holder-div{
  display: flex;
  width: 150px;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left:-10px;
}


#about-link{
  text-decoration: none;
    color:white;
}


#cart-item-counter{
    color: white;
    position: relative;
    background-color: red;
    text-align: center;
    width:20px;
    right:32px;
    bottom:5px;
    line-height: 21px;
    font-size: 15px;
    border-radius: 40%;
}

#new-post-button{
  margin-top:0px;
}


/* // 1240 888 */
@media only screen and (max-width: 1551px) {
    #cart-button{
        position: relative;
        bottom: 3px;
    }
  }


@media only screen and (max-width: 990px) {
    #cart-form{
        position: relative;
        right:10px;
        top:5px;
    }
     #button-holder-div{
    flex-direction: column;
    margin-left:0px;
    margin-top:10px;
  }
  #new-post-button{
    margin-top:10px;
  }

  

  }

 





  .cartLoaderIcon{
    width:12px;
    height:12px;
    margin:1px auto;
    border:2px solid 	white;
    border-radius:50%; 
    border-top-color:#ff0000;
  /*   border-bottom-color:red; */
    animation:spin 0.8s linear infinite;
  }
  
  @keyframes spin{
    to{
      transform:rotate(360deg);
    }
  }



  



