#cartIcon{
    font-size: 2rem;
    color: white;
}
#cart-button{
    pointer-events: none;
    margin-left:2px
}
#search-bar{
    margin-right:10px
}

#main-title{
    text-decoration: none;
    color:white;
}
#mainNav{
    list-style-type: none;
}

#cart-form{
    position: relative;
    right:10px;
    top:2px;
}


#cart-item-counter{
    color: white;
    position: relative;
    background-color: red;
    text-align: center;
    width:20px;
    right:22px;
    bottom:5px;
    line-height: 21px;
    font-size: 15px;
    border-radius: 40%;
}
/* // 1240 888 */
@media only screen and (max-width: 1551px) {
    #cart-button{
        position: relative;
        bottom: 3px;
    }
  }


@media only screen and (max-width: 1240px) {
    #cart-form{
        position: relative;
        right:10px;
        top:5px;
    }
    #login-logout-button{
        margin-top:3px;
    }
  }



  



