.card {
  min-width: 210px;
  width: 22%;
  margin: 10px;
  font-size: 13px;
  height: 56vh;
  max-width: 242px;
  -webkit-box-shadow: 3px 2px 21px -2px rgba(56,56,56, 0.72);
  -moz-box-shadow: 3px 2px 21px -2px rgba(56,56,56, 0.72);
  box-shadow: 3px 2px 21px -2px rgba(56,56,56, 0.72);
  transition: all 0.2s ease-in-out;
  border-radius: 5%;
  margin-bottom:30px;
}
 

.btn.btn-primary:disabled {
  background-color: #bad0f5;
}
.btn.btn-danger:disabled {
  background-color: #e8a5a5;
}


#profile-picture {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  border-radius: 45%;
  margin-right: 10px;
}

#cartCountIcon {
  color: orange;
  font-size: 32px;
  position: absolute;
  left: -15px;
  top: -12px;
}




#cartCount {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 15px;
  line-height: 11px;
  margin-left: -1px;
}


/* @media only screen and (max-width: 1550px) {
  .delete-button-container{

    left: 175px;
    
    
  }
}

@media only screen and (max-width: 1100px) {
  .delete-button-container{

    left: 105px;
    
    
  }
} */



.delete-button-icon {
  color: red;
  font-size: 32px;
  position: absolute;
  left: 205px;
  top: -12px;

}
.delete-button-icon-background {
  color: white;
  font-size: 32px;
  position: absolute;
  left: 205px;
  top: -12px;
  border-radius: 50%;

}


@media only screen and (max-width: 1199px) {
  .delete-button-icon {
    left: 170px;
  
  }
  .delete-button-icon-background {
    left: 170px;
  
  }
}


.sellerInfoContainer {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}
.sellerUsername {
  line-height: 24px;
}

#profilePicture {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-size: cover;
  margin-right: 20px;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
    transform: scale(2);
  }
}

.card:hover {
  transform: scale(1.05);
  webkit-box-shadow: 3px 2px 21px -2px rgba(39, 37, 39, 0.72);
  -moz-box-shadow: 3px 2px 21px -2px rgba(39, 37, 39, 0.72);
  box-shadow: 3px 2px 21px -2px rgba(39, 37, 39, 0.72);
}

.card:hover #item-card-info-button {
  animation: shake 1.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation-iteration-count: infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-1.5px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(1.5px, 0, 0);
  }
}

.card-title {
  font-size: 17px;
}


.card-body hr:first-of-type{
    margin:2px 0 5px 0;
}

.card-body {
  height: 360px;
}

.card-title-container {
  min-height: 44px !important;
}

#imageContainer {
  overflow: hidden;
  height: 430px !important;
  background-size: cover;
  background-position: center;
  border-radius: 5%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#textbookImage {
  height: 300px;
}

#cartButtonHolder {
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  margin-top: 60px;
}
#cartButtonHolder > button {
  width: 30%;
  height: 20px;
  border: 1px solid;
  box-shadow: 1px 2px #888888;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
/* #cartButtonHolder > button:first-child{
    color: white;
}
#cartButtonHolder > button:first-child{
    color: blue;
}
#cartButtonHolder > button:first-child{
    color: blue;
} */

/* #cartButtonHolder > .loader{
    width:50px;
}




#cartButtonHolder > .loader > .cartLoaderIcon{
    width:22px;
    height:22px;
    margin:1px auto;
    margin-left:20px;
    border:3px solid 	white;
    border-radius:50%; 
    border-top-color:#ff0000;
  /*   border-bottom-color:red; */
/* animation:spin 0.8s linear infinite; */
/* }
  
  @keyframes spin{
    to{
      transform:rotate(360deg);
    }
  } */




  /* @media only screen and (max-width: 1550px) {
    .delete-button-container{

      left: 187px;
      
      
    }
  }
   */
